<div class="container user">
  <div class="row">
    <div class="user-nav">
      <ul>
        <li class="active"><%= link_to "アカウント情報", current_user %></li>
        <li class=""><%= link_to "プロフィール変更", edit_user_path(current_user) %></li>
        <li class=""><%= link_to "食品を出品する", edit_user_path(current_user) %></li>
        <li class=""><%= link_to "出品中の商品一覧", edit_user_path(current_user) %></li>
        <li class=""><%= link_to "注文履歴", edit_user_path(current_user) %></li>
      </ul>
    </div>
    <div class="user-profile-container">
      <div class="user-view">
        <div class="user-view-box">
          <div class="update-content">
            <div class="row">
              <h5>こんにちは<%= @user.username%>さん、</h5>
            </div>
          </div>
          <div class="update-content">
            <div class="row total-kg-container">
              <div class="total-kg">食品廃棄を100kg削減達成！🎉</div>
            </div>
          </div>
        </div>
      </div>
      <div class="user-view">
        <div class="user-view-box">
          <div class="update-content">
            <div class="row">
              <h5>アカウント</h5>
            </div>
          </div>
          <div class="update-content">
            <div class="row">
              <label class="col-md-3" for="email">メールアドレス</label>
              <div class="col-md-9"><%= @user.email %></div>
            </div>
          </div>
          <div class="update-content">
            <div class="row">
              <label class="col-md-3" for="password">パスワード</label>
              <div class="col-md-9">*********</div>
            </div>
          </div>
          <div class="update-content">
            <div class="">
              <%= link_to "編集",  edit_user_registration_path, class:"btn-block btn btn-warning show-btn" %>
            </div>
          </div>
          <div class="update-content">
            <div>
              <%= link_to "アカウントを削除する",  user_registration_path, method: :delete, class:"btn-block btn btn-danger show-btn", data: { confirm: "本当にアカウントを削除しますか?" } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
