<% provide(:title, @user.username) %>
<div class="container user">
  <div class="row">
    <% if @user == current_user %>
      <%= render 'show_light_header' %>
      <div class="user-profile-container">
        <%= render 'user_status', user: @user %>
        <%= render 'user_profile', user: @user%>
        <%= render 'user_account', user: @user %>
      </div>
    <% else %>
      <div class="user-profile-container">
        <%= render 'user_other_status', user: @user %>
        <%= render 'user_other_profile', user: @user%>
      </div>
    <% end %>
  </div>
</div>
