<%= form_for inquiry, :url => inquiry_thanks_path do |f| %>
  <div class="update-content">
    <div class="row">
      <label for="name" class="col-md-4 inquiry-label">名前</label>
      <%= f.hidden_field :name %>
      <div class="col-md-8">
        <%= inquiry.name%>
      </div>
    </div>
  </div>
  <div class="update-content">
    <div class="row">
      <label for="email" class="col-md-4 inquiry-label">Email</label>
      <%= f.hidden_field :email %>
      <div class="col-md-8">
        <%= inquiry.email%>
      </div>
    </div>
  </div>
  <div class="update-content">
    <div class="row">
      <label for="message" class="col-md-4 inquiry-label">お問い合わせ内容</label>
      <%= f.hidden_field :message %>
      <div class="col-md-8 message-content">
        <%= inquiry.message%>
      </div>
    </div>
  </div>
  <div class="update-content">
    <div class="row">
      <%= f.submit '送信する', class: "btn-block btn btn-warning inquiry-btn" %>
    </div>
  </div>
<% end %>
