<div class="single_product">
  <div class="media row">
    <div class="media-left product_slider col-md-8">
      <div id="slider" class="carousel slide" data-ride="carousel">
        <% if product.product_avatars.any? %>
          <% product.product_avatars.each_with_index do |image, i| %>
            <div class="item <%= "active" if i.zero? %>" data-thumb="<%= i %>">
              <%= image_tag(image.to_s, class: "product-main-image") %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="clearfix all_image">
        <div id="thumbcarousel" class="carousel slide" data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-inner">
              <% if product.product_avatars.any? %>
                <% product.product_avatars.each_with_index do |image, i| %>
                  <div class="thumb" data-slide-to="<%= i %>" data-target="#carousel">
                    <%= image_tag(image.to_s, class: "product-sub-image") %>
                  </div>
                <% end %>
              <% end %>
            </div>
            <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="media-body col-md-4">
      <ul class="list-inline">
        <%= link_to products_path do %>
          <li><i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る</li>
        <% end %>
      </ul>
      <h2><%= product.product_name %></h2>
      <h3 class="fee">¥<%= product.fee.to_s(:delimited) %></h3>
      <p>出品者: <%= link_to product.user.username, user_path(product.user.id), class: "seller"%></p>
      <p class="raw_material">原材料 : <%= product.raw_material %></p>
      <p class="total_weight">削減できる重量 : <%= product.total_weight %>kg</p>
      <p class="expiration_date">消費期限 : <%= product.expiration_date.strftime('%Y年%m月%d日')%></p>
      <p class="product_intro_title">この商品について</p>
      <p class="product_intro"><%= product.product_intro %></p>
      <% if current_user != product.user %>
        <div class="btn-area">
          <%= form_with model: purchase, method: :post, url: confirm_purchases_path, local: true do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.submit "購入へ進む", class: "btn btn-warning btn-block"%>
          <% end %>
        </div>
      <% else %>
        <div class="btn-area">
          <%= link_to "編集する", edit_product_path(product.id), class: "btn btn-secondary btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
