<div class="user-nav">
  <ul>
    <li class="">カテゴリー検索 :</li>
    <li class=""><%= link_to "一覧", products_path %></li>
    <li class=""><%= link_to "野菜&果物", "/lossperori/products/search?free_word=野菜or果物&commit=探す" %></li>
    <li class=""><%= link_to "お肉", "/lossperori/products/search?free_word=お肉&commit=探す"%></li>
    <li class=""><%= link_to "海鮮", "/lossperori/products/search?free_word=海鮮&commit=探す" %></li>
    <li class=""><%= link_to "お菓子", "/lossperori/products/search?free_word=お菓子&commit=探す" %></li>
    <li class=""><%= link_to "お弁当", "/lossperori/products/search?free_word=お弁当&commit=探す" %></li>
    <li class=""><%= link_to "その他", "/lossperori/products/search?free_word=その他&commit=探す" %></li>
  </ul>
</div>
