<div class="user-nav">
  <ul>
    <li class="">カテゴリー検索 :</li>
    <li class=""><%= link_to "一覧", edit_user_path(current_user) %></li>
    <li class=""><%= link_to "野菜&果物", edit_user_path(current_user) %></li>
    <li class=""><%= link_to "お肉", edit_user_path(current_user) %></li>
    <li class=""><%= link_to "海鮮", edit_user_path(current_user) %></li>
    <li class=""><%= link_to "お菓子", new_product_path %></li>
    <li class=""><%= link_to "お弁当", edit_user_path(current_user) %></li>
    <li class=""><%= link_to "その他", edit_user_path(current_user) %></li>
  </ul>
</div>
