<header>
  <nav class="navbar">
    <div class="header-left-nav">
      <%= link_to image_tag("1_Primary_logo_on_transparent_280x67.png", alt: "サイトロゴ", class: "site_logo"), root_path, class: "site_logo_link"%>
    </div>
    <% if user_signed_in? %>
      <div class="header-center-nav">
        <div class="header-sharch d-lg-inline-block d-none">
          <%= form_with(url: search_products_path, local: true, method: :get, class: "search-form") do |f| %>
            <%= f.text_field :free_word, placeholder: "キーワード検索", class: "form-control" %>
            <%= f.submit '探す', class: "search-btn" %>
          <% end %>
          <i class="fas fa-map-marker-alt"></i>
        </div>
      </div>
    <% end %>
    <div class="header-right-nav">
      <% if user_signed_in? %>
        <div class="nav-item nav-name d-sm-inline-block d-none">
          <%= current_user.username %> 様
        </div>
        <div class="nav-item">
          <label for="toggle" class="label">
            <div class="icon-box">
              <% if current_user.avatar.url %>
                <%= image_tag current_user.avatar.url, class: "icon-image icon-header" %>
              <% end %>
            </div>
          </label>
          <input type="checkbox" id="toggle" />
          <ul class="header-nav-menu">
            <li><%= link_to "商品一覧", products_path %></li>
            <li><%= link_to "注文履歴", "" %></li>
            <li><%= link_to "食品の出品", new_product_path %></li>
            <li><%= link_to "お問い合わせ", inquiry_path %></li>
            <li><%= link_to "設定", current_user %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      <% else %>
        <%= link_to "会員登録（無料）", new_user_registration_path, class: "btn btn-first btn-appearance" %>
        <%=link_to "ログイン", new_user_session_path, class: "btn btn-second btn-appearance" %>
      <% end %>
    </div>
  </div>
</nav>
</header>
